/* home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px); /* Adjust for the navbar height */
    background-color: #f8f9fa; /* Light gray background color */
  }
  
  .top-bar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .top-bar h1 {
    font-size: 28px;
    color: #333;
  }
  
  .logo-container {
    max-width: 500px; /* Adjust maximum width as needed */
    margin-bottom: 20px;
  }
  
  .logo-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Add border radius for a rounded look */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    animation: moveUpDown 2s ease-in-out infinite alternate; /* Add animation */
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); /* Adjust the distance to move up */
    }
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  